<div class="tablero-container w-full max-w-screen-xl mx-auto mt-3 p-4 flex justify-center">
  <div class="grid
           grid-cols-8
           sm:grid-cols-8
           md:grid-cols-12
           lg:grid-cols-12
           xl:grid-cols-15
           gap-2 sm:gap-3 md:gap-4
           bg-gray-800 p-4 rounded-lg shadow-inner w-full max-w-7xl">

    @for (num of allNumbers; track $index) {
    <div [ngClass]="{
          'bg-green-500 text-white': drawnNumber().includes(num),
           'bg-red-600 text-white animate-pulse': drawnNumber().includes(num) && drawnNumber()[drawnNumber().length - 1] === num  ,
          'bg-gray-200 text-gray-700': !drawnNumber().includes(num)
        }" class="flex items-center justify-center rounded-full transition
               w-8 h-8 text-xs
               sm:w-9 sm:h-9 sm:text-sm
               md:w-10 md:h-10 md:text-base
               lg:w-12 lg:h-12 lg:text-lg
               xl:w-18 xl:h-18 xl:text-2xl
               font-semibold">
      {{ num }}
    </div>
    }
  </div>
</div>
