<div class="min-h-screen flex items-center justify-center bg-gradient-to-br from-purple-600 to-pink-500 text-white">
  <div class="bg-white bg-opacity-10 backdrop-blur-md p-10 rounded-2xl shadow-lg w-full max-w-md relative">

    <!-- Botón de Cerrar Sesión -->
    <button (click)="logout()"
      class="absolute flex items-center top-2 right-2 text-sm bg-purple-600 text-white font-semibold px-3 py-1 rounded-full shadow hover:bg-purple-300 transition">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
      </svg>

      Cerrar sesión

    </button>

    <div class="text-center mb-6">
      <h2 class="text-3xl text-black font-bold">Crea una partida o únete a una ya creada</h2>
    </div>

    <div class="flex justify-center mb-4 space-x-2">
      <button (click)="activeTab = 'create'" [ngClass]="{
          'bg-purple-500 text-white': activeTab === 'create',
          'bg-white text-purple-600': activeTab !== 'create'
        }" class="px-4 py-2 rounded-full transition font-semibold w-1/2">
        Crear Partida
      </button>
      <button (click)="activeTab = 'join'" [ngClass]="{
          'bg-purple-500 text-white': activeTab === 'join',
          'bg-white text-purple-600': activeTab !== 'join'
        }" class="px-4 py-2 rounded-full transition font-semibold w-1/2">
        Unirse a Partida
      </button>
    </div>

    <!-- Crear partida -->
    @if (activeTab === 'create') {
    <form [formGroup]="form" (ngSubmit)="createRoom()" class="space-y-4">
      <input formControlName="roomId" name="createRoomId" type="text" placeholder="ID de la partida"
        class="w-full px-4 py-2 rounded-lg outline-2 text-purple-800 font-semibold  focus:ring-2 focus:ring-black"
        required />
      @if (formUtils.isValidField(form, 'roomId')) {
      <div class="text-red-400 text-sm mt-0">
        <div>
          {{ formUtils.getFieldError(form, "roomId") }}
        </div>
      </div>
      }
      <button type="submit"
        class="w-full px-4 py-2 bg-purple-500 text-white font-bold rounded-full hover:bg-purple-300 transition">
        Crear Partida
      </button>
    </form>
    }@else if (activeTab === 'join') {
    <!-- Unirse como invitado -->
    <form [formGroup]="form" (ngSubmit)="joinRoom()" class="space-y-4">
      <input formControlName="roomId" name="joinRoomId" type="text" placeholder="ID de la partida"
        class="w-full px-4 py-2 rounded-lg outline-2 text-purple-800 font-semibold  focus:ring-2 focus:ring-black"
        required />
      @if (formUtils.isValidField(form, 'roomId')) {
      <div class="text-red-400 text-sm mt-0">
        <div>
          {{ formUtils.getFieldError(form, "roomId") }}
        </div>
      </div>
      }
      <button type="submit"
        class="w-full px-4 py-2 bg-purple-500 text-white font-bold rounded-full hover:bg-purple-300 transition">
        Unirse a Partida
      </button>
    </form>
    }
  </div>
</div>
